.classpath
.project
.metadata
HelloTangoJNI/bin
HelloTangoJNI/gen
HelloTangoJNI/libs
HelloTangoJNI/obj
TangoJNIMotionTracking/bin
TangoJNIMotionTracking/gen
TangoJNIMotionTracking/libs
TangoJNIMotionTracking/obj
TangoJNIVideoOverlay/bin
TangoJNIVideoOverlay/gen
TangoJNIVideoOverlay/libs
TangoJNIVideoOverlay/obj
TangoJNIMotionTracking/bin
TangoJNIMotionTracking/obj/local/armeabi-v7a/objs
TangoJNIMotionTracking/libs
TangoJNIMotionTracking/obj
