.classpath
.project
.metadata
HelloTangoJNI/bin
HelloTangoJNI/gen
HelloTangoJNI/libs
HelloTangoJNI/obj
TangoJNIMotionTracking/bin
TangoJNIMotionTracking/gen
TangoJNIMotionTracking/libs
TangoJNIMotionTracking/obj
TangoJNIVideoOverlay/bin
TangoJNIVideoOverlay/gen
TangoJNIVideoOverlay/libs
TangoJNIVideoOverlay/obj
TangoJNIPointcloud/bin
TangoJNIPointcloud/gen
TangoJNIPointcloud/obj
TangoJNIPointcloud/libs
point-cloud-jni-example/bin
point-cloud-jni-example/gen
point-cloud-jni-example/libs
point-cloud-jni-example/obj
hello-tango-jni-example/bin
R.java
hello-tango-jni-example/gen
hello-tango-jni-example/libs
hello-tango-jni-example/obj
